<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:annotation-config />

    <bean id="AO" class="com.ibm.spring.A">
        <property name = "a" value="99"/>
        <property name="msg" value="amit"/>
    </bean>

    <bean id="bobj" class="com.ibm.spring.B">
        <constructor-arg value ="88"/>
        <constructor-arg value ="BBB"/>
    </bean>

    <bean id ="hello" class="com.ibm.spring.Hello" init-method="myInit" destroy-method="mycleanup" autowire="byName" >
        <constructor-arg value="99"/>
        <property name="str" value="Hello Gyus"/>
    </bean>

    <bean class="com.ibm.spring.MyBeanPostProcessor"/>


</beans>